<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WS_AutoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://desktop-l8lj9p3/ws_Infracciones/WS_Auto.asmx"
                binding="basicHttpBinding" bindingConfiguration="WS_AutoSoap"
                contract="ServiceAuto.WS_AutoSoap" name="WS_AutoSoap" />
        </client>
    </system.serviceModel>
</configuration>